<div id="page_wrapper">
	<table style="width:100%">
	  <tr>
	    <td>
			<div id="profile_image">
				<%= image_tag "profile.jpeg" %>
			</div>
	    </td>

	    <td>
			<div id="content">
				<h1>Hey, I'm TimingJL</h1>
				<p>Welcome to week 2 of my 12 Web Apps in 12 Weeks Challenge.</p>
				<p>Mackenzie Child's video really inspired me. So I decided to follow all of his rails video tutorial to learn how to build a web app. Through the video, I would try to build the web app by my self and record the courses step by step in text to facilitate the review.</p>
				<p>This week I built a blog in Rails 5. You're actually on the demo application right now. Cool stuff, right!.</p>
				<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Github <a href="https://github.com/TimingJL">@TimingJL</a></p>
				<p>Email: eefozeo@gmail.com</p>
			</div>
	    </td>
	  </tr>
	</table>
</div>